<div class="card border border-blue-200">
    <div class="flex justify-content-between">
        <h5>Visão Geral</h5>
        <span>{{ currentDateTime }}</span>
    </div>
    @if (isloading) {
    <app-dashboard-skeleton></app-dashboard-skeleton>
    } @else {
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div
                style="min-height: 140px; max-height: 160px"
                class="card mb-0 border border-blue-200"
            >
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"
                            >Lucro mensal (R$)</span
                        >
                        <div class="text-900 font-medium text-xl">
                            {{
                                dashboardData.currentMonthlyProfit
                                    | currency : "BRL"
                            }}
                        </div>
                    </div>
                    <div
                        class="flex justify-content-center"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <img
                            src="../../../assets/demo/images/icons/payments.svg"
                            alt="shopping"
                        />
                    </div>
                </div>
                <span class="text-green-500 font-medium"
                    >{{
                         dashboardData.previousMonthlyProfit | currency : "BRL"
                    }}
                </span>
                <span class="text-500">no mesmo período</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border border-blue-200">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"
                            >Vendas Mensais</span
                        >
                        <div class="text-900 font-medium text-xl">
                            {{
                                dashboardData.currentMonthlySales
                                    | currency : "BRL"
                            }}
                        </div>
                    </div>
                    <div
                        class="flex justify-content-center"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <img
                            src="../../../assets/demo/images/icons/point_of_sale.svg"
                            alt="sales"
                        />
                    </div>
                </div>
                <span class="text-green-500 font-medium"
                    >{{dashboardData.previousMonthlySales | currency : "BRL" }}
                </span>
                <span class="text-500">no mesmo período</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border border-blue-200">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"
                            >Compras mensais</span
                        >
                        <div class="text-900 font-medium text-xl">
                            {{
                                dashboardData.currentMonthlyShopping
                                    | currency : "BRL"
                            }}
                        </div>
                    </div>
                    <div
                        class="flex justify-content-center"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <img
                            src="../../../assets/demo/images/icons/shopping_cart.svg"
                            alt="shopping"
                        />
                    </div>
                </div>
                <span class="text-red-500 font-medium"
                    >{{
                        dashboardData.previousMonthlyShopping | currency : "BRL"
                    }}
                </span>
                <span class="text-500">no mesmo período</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div
                style="min-height: 140px"
                class="card mb-0 border border-blue-200"
            >
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"
                            >Balanço mensal</span
                        >
                        <div class="text-900 font-medium text-xl">
                            {{
                                dashboardData.currentMonthlyBalance
                                    | currency : "BRL"
                            }}
                        </div>
                    </div>
                    <div
                        class="flex justify-content-center"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <img
                            src="../../../assets/demo/images/icons/balance.svg"
                            alt="shopping"
                        />
                    </div>
                </div>
                <span class="text-blue-500 font-medium">
                    Diferença entre compras e vendas
                </span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-6">
            <div class="flex flex-column sm:flex-column lg:flex-row gap-4">
                <div class="card mb-0 col border border-blue-200">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3"
                                >Valor Aproximado do estoque (R$)</span
                            >
                            <div class="text-900 font-medium text-xl">
                                {{
                                    dashboardData.estimatedStockValue
                                        | currency : "BRL"
                                }}
                            </div>
                        </div>
                        <div
                            class="flex justify-content-center"
                            [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                        >
                            <img
                                src="../../../assets/demo/images/icons/inventory.svg"
                                alt="shopping"
                            />
                        </div>
                    </div>
                </div>
                <div class="card mb-0 col border border-blue-200">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3"
                                >Total produtos em estoque</span
                            >
                            <div class="text-900 font-medium text-xl">
                                {{ dashboardData.totalStockProducts }}
                            </div>
                        </div>
                        <div
                            class="flex justify-content-center"
                            [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                        >
                            <img
                                src="../../../assets/demo/images/icons/inventory_stock.svg"
                                alt="shopping"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 md:block hidden card border border-blue-200">
                <h5 class="text-left w-full">Lucro diário</h5>
                <p-chart
                    type="bar"
                    [data]="profitData"
                    [options]="profitOption"
                ></p-chart>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card border border-blue-200">
                <h5>Vendas Recentes</h5>
                <p-table
                    [value]="latestSales"
                    [paginator]="true"
                    [rows]="5"
                    responsiveLayout="scroll"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Data</th>
                            <th pSortableColumn="method">Pagamento</th>
                            <th pSortableColumn="gross_price">Valor Bruto</th>
                            <th pSortableColumn="net_price">Valor Liquido</th>
                            <th>View</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-latestSales>
                        <tr>
                            <td style="width: 20%; min-width: 7rem">
                                {{ formatedDate(latestSales.sales_date) }}
                            </td>
                            <td style="width: 20%; min-width: 7rem">
                                {{ latestSales.payment_method }}
                            </td>
                            <td style="width: 20%; min-width: 8rem">
                                {{
                                    latestSales.total_gross_value
                                        | currency : "BRL"
                                }}
                            </td>
                            <td style="width: 20%; min-width: 8rem">
                                {{
                                    latestSales.total_net_value
                                        | currency : "BRL"
                                }}
                            </td>
                            <td style="width: 15%">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="p-button p-component p-button-text p-button-icon-only"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- <div class="col-12 md:block hidden">
            <div
                class="card flex flex-column align-items-center border border-blue-200"
            >
                <h5 class="text-left w-full">Produtos em Estoque</h5>
                <ngx-charts-pie-grid
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [animations]="true"
                >
                </ngx-charts-pie-grid>
            </div>
        </div> -->

        <div class="col-12 md:flex hidden justify-content-center p-4">
            <div class="card col-8 border border-blue-200">
                <h5>Faturamento e Lucro Anual</h5>
                <p-chart
                    type="line"
                    [data]="summaryData"
                    [options]="summaryOption"
                ></p-chart>
            </div>
        </div>
    </div>
    }
</div>
