<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Estoque</h5>
            <p-dataView
                #dv
                [value]="products"
                [paginator]="true"
                [rows]="9"
                filterBy="name"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
                layout="grid"
            >
                <ng-template pTemplate="header">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between gap-2"
                    >
                        <p-dropdown
                            [options]="sortOptions"
                            placeholder="Ordenar por preço"
                            (onChange)="onSortChange($event)"
                        ></p-dropdown>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                type="search"
                                pInputText
                                placeholder="Procurar por nome"
                                (input)="onFilter(dv, $event)"
                            />
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <!-- POR LISTA -->
                <ng-template let-products pTemplate="listItem">
                    <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" selectionMode="multiple" [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Procurar..."  class="w-full sm:w-auto"/>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                               
                                <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                                <th>Imagem</th>
                                <th pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="category">Tipo <p-sortIcon field="type"></p-sortIcon></th>
                                <th pSortableColumn="category">Categoria <p-sortIcon field="category"></p-sortIcon></th>
                                <th pSortableColumn="rating">Tamanho <p-sortIcon field="size"></p-sortIcon></th>
                                <th pSortableColumn="rating">Cor <p-sortIcon field="color"></p-sortIcon></th>
                                <th pSortableColumn="inventoryStatus">Quantidade <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Name</span>
                                    {{product.name}}
                                </td>
                                <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                                    <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                                </td>
                                <td style="width:14%; min-width:8rem;">
                                    <span class="p-column-title">Price</span>
                                    {{product.price | currency:'USD'}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Type</span>
                                    {{product.category}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Category</span>
                                    {{product.category}}
                                </td>
                                <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Size</span>
                                    {{product.inventoryStatus}}
                                </td>
                                <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Color</span>
                                    Azul
                                </td>
                                <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Quantidade</span>
                                    <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
                <!-- POR QUADRO -->
                <ng-template let-products pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        <div
                            class="col-12 md:col-4"
                            *ngFor="let product of products"
                        >
                            <div class="card m-3 border-1 surface-border">
                                <div
                                    class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
                                >
                                    <div class="flex align-items-center gap-2">
                                        <span class="font-normal"
                                            >Tamanho <strong>40</strong></span
                                        >
                                        |
                                        <span>Preto</span>
                                        <span
                                            class="bg-black-alpha-90 p-2 border-round"
                                        ></span>
                                    </div>
                                    <span
                                        [class]="
                                            'product-badge status-' +
                                            product.inventoryStatus.toLowerCase()
                                        "
                                        >{{ product.inventoryStatus }}</span
                                    >
                                </div>
                                <div
                                    class="flex flex-column align-items-center text-center mb-3"
                                >
                                    <img
                                        [src]="
                                            'assets/demo/images/product/' +
                                            product.image
                                        "
                                        [alt]="product.name"
                                        class="w-9 shadow-2 my-3 mx-0"
                                    />
                                    <div class="text-2xl font-bold">
                                        {{ product.name }}
                                    </div>
                                    <span>Sem Cadarço</span>
                                </div>
                                <div
                                    class="flex align-items-center justify-content-between pt-3"
                                >
                                    <span class="text-2xl font-semibold"
                                        >${{ product.price }}</span
                                    >
                                    <div class="flex gap-3">
                                        <button
                                            pButton
                                            pRipple
                                            type="button"
                                            icon="pi pi-shopping-cart"
                                            class="p-button-success"
                                            (click)="openNewSales(product)"
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            type="button"
                                            icon="pi pi-shopping-cart"
                                            class="p-button-warning"
                                            (click)="openNewShopping(product)"
                                        ></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>

    <!-- Dialog de Vendas -->
    <p-dialog
        [(visible)]="productSalesDialog"
        [style]="{ width: '450px' }"
        header="Venda de produto"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="field flex flex-column">
                <h6 for="name">Nome do Produto</h6>
                <label>{{ product.name }}</label>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 for="status">Quantidade no estoque</h6>
                    <label for="status">{{ product.inventoryStatus }}</label>
                </div>
                <div class="field col flex flex-column align-content-center">
                    <h6>Cor</h6>
                    <div class="flex gap-2">
                        <span>Preto</span>
                        <span class="bg-black-alpha-90 p-2 border-round"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 class="mb-3">Categoria</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round py-1 px-2 ml-3">
                            <label class="font-medium" for="category1">{{
                                product.category
                            }}</label>
                        </div>
                    </div>
                </div>

                <div class="field col">
                    <h6 class="mb-3">Tipo</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round px-2 py-1">
                            <label class="font-medium" for="category2">{{
                                product.category
                            }}</label>
                        </div>
                    </div>
                </div>

                <div class="field col">
                    <h6 class="mb-3">Tamanho</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round px-2 py-1 ml-3">
                            <label class="font-medium" for="category1"
                                >40</label
                            >
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="field">
                <h6 for="status">Metodo de Pagamento</h6>
                <p-dropdown
                    [(ngModel)]="paymentMethod"
                    inputId="inventoryStatus"
                    optionValue="label"
                    [options]="paymentMethods"
                    placeholder="Selecione o método de pagamento"
                >
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="product && paymentMethod">{{
                            paymentMethod
                        }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <hr />
            <div class="field">
                <h6 for="price">Custo da Venda</h6>
                <p-inputNumber
                    id="price"
                    [(ngModel)]="coust"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                ></p-inputNumber>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 for="price">Preço</h6>
                    <label for="price">R$: {{ product.price }}</label>
                </div>
                <div class="field col">
                    <h6 for="quantity">Quantidade vendida</h6>
                    <p-inputNumber
                        id="quantity"
                        [(ngModel)]="product.quantity"
                    ></p-inputNumber>
                </div>
            </div>
            <hr />
            <div class="field flex flex-column">
                <h5 for="total">Valor Total</h5>
                <label for="total"
                    >R$: {{ product.price * product.quantity }}</label
                >
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Cadastrar venda"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveSale()"
            ></button>
        </ng-template>
    </p-dialog>
    <!-- Dialog de Compras -->
    <p-dialog
        [(visible)]="productShoppingDialog"
        [style]="{ width: '450px' }"
        header="Compra de produto"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="field flex flex-column">
                <h6 for="name">Nome do Produto</h6>
                <label>{{ product.name }}</label>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 for="status">Quantidade no estoque</h6>
                    <label for="status">{{ product.inventoryStatus }}</label>
                </div>
                <div class="field col flex flex-column align-content-center">
                    <h6>Cor</h6>
                    <div class="flex gap-2">
                        <span>Preto</span>
                        <span class="bg-black-alpha-90 p-2 border-round"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 class="mb-3">Categoria</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round py-1 px-2 ml-3">
                            <label class="font-medium" for="category1">{{
                                product.category
                            }}</label>
                        </div>
                    </div>
                </div>

                <div class="field col">
                    <h6 class="mb-3">Tipo</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round px-2 py-1">
                            <label class="font-medium" for="category2">{{
                                product.category
                            }}</label>
                        </div>
                    </div>
                </div>

                <div class="field col">
                    <h6 class="mb-3">Tamanho</h6>
                    <div class="formgrid grid">
                        <div class="bg-blue-100 border-round px-2 py-1 ml-3">
                            <label class="font-medium" for="category1"
                                >40</label
                            >
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="field">
                <h6 for="status">Metodo de Pagamento</h6>
                <p-dropdown
                    [(ngModel)]="paymentMethod"
                    inputId="inventoryStatus"
                    optionValue="label"
                    [options]="paymentMethods"
                    placeholder="Selecione o método de pagamento"
                >
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="product && paymentMethod">{{
                            paymentMethod
                        }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <hr />
            <div class="field">
                <h6 for="price">Parcelas</h6>
                <p-dropdown
                    [(ngModel)]="installment"
                    inputId="inventoryStatus"
                    optionValue="label"
                    [options]="installments"
                    placeholder="Selecione o método de pagamento"
                >
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="product && installment">{{
                            installment
                        }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <hr />
            <div class="formgrid grid">
                <div class="field col">
                    <h6 for="price">Valor Unitário</h6>
                    <p-inputNumber
                        id="quantity"
                        [(ngModel)]="productShopping.price"
                    ></p-inputNumber>
                </div>
                <div class="field col">
                    <h6 for="quantity">Quantidade</h6>
                    <p-inputNumber
                        id="quantity"
                        [(ngModel)]="productShopping.amount"
                    ></p-inputNumber>
                </div>
                <div class="field col">
                    <h6 for="quantity">Frete</h6>
                    <p-inputNumber
                        id="quantity"
                        [(ngModel)]="productShopping.tax"
                    ></p-inputNumber>
                </div>
            </div>
            <hr />
            <div class="field flex flex-column">
                <h5 for="total">Valor Total</h5>
                <label
                    *ngIf="
                        productShopping.price &&
                        productShopping.amount &&
                        productShopping.tax
                    "
                    for="total"
                    >R$:
                    {{
                        (productShopping.price + productShopping.tax) *
                            productShopping.amount
                    }}</label
                >
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Cadastrar compra"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveShopping()"
            ></button>
        </ng-template>
    </p-dialog>
</div>
